<!DOCTYPE html>
{% load static %}
{% load django_bootstrap_breadcrumbs %}
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Firewall-cmd Web Administration Panel</title>

  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "style.css" %}">

</head>

<body id="page-top">

<h1 class="h2 text-gray-900 mb-4 text-center">Firewall-cmd Web Administration Panel</h1>

<div class="container">
        <div class="row">

            <p></p>
    {% block breadcrumbs %}
        {% breadcrumb "Home" "/" %}
        {% breadcrumb "Firewall Rules Panel" "landing" %}
        {% render_breadcrumbs %}
    {% endblock %}

            <div class="col-lg-4 offset-lg-4">
                <h4 class="small font-weight-bold">Today is {{ today }}</h4>
            </div>
        </div>

        <div class="btn-group btn-group-lg" role="group" aria-label="menu">

<p></p>
        <form action="{% url 'admin:index' %}">
            <button type="submit" class="btn btn-danger">Admin Panel</button>
        </form>
        </div>

<p></p>

<form action='{% url 'action_url' %}' method='POST'>{% csrf_token %}
    <button type='submit' class="btn btn-primary">Reload Rules</button>
</form>

<div class="col-xs-12" style="height:25px;"></div>

<div>

        <h4 class="h4 text-gray-900 mb-4">Add New Rule</h4>

            <form action="add_rule" method="post" >{% csrf_token %}
                <div class=""><label>Priority:  </label>{{ form.priority }}</div>
                <div class=""><label>Table:  </label>{{ form.table }}</div>
                <div class=""><label>IPV:  </label>{{ form.ipv }}</div>
                <div class=""><label>Chain:  </label>{{ form.chain }}</div>
                <div class=""><label>Value:  </label>{{ form.rule_value }}</div>
                <p></p>
                <button type="submit" class="btn btn-success">Add Rule</button>
            </form>


</div>

<p class="row"></p>

        <p></p>
        <div class="col-xs-12" style="height:25px;"></div>


{% if messages %}<div class="alert alert-warning">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
    </div>
{% endif %}


<p></p>

<form action='{% url 'export_to_xml' %}' method='POST'>{% csrf_token %}
    <button type='submit' class="btn btn-success">Commit Rules</button>
</form>

<h4 class="h4 text-gray-900 mb-4">List of Rules</h4>

<table class="table table-bordered">

    <thead>
        <tr>
            <th scope="col">Priority</th>
            <th scope="col">Table</th>
            <th scope="col">ipv</th>
            <th scope="col">Chain</th>
            <th scope="col">Rule</th>
        </tr>
    </thead>
{% for rule in allrules %}

<tbody>
    <tr>
        <td>{{ rule.priority }}</td>
        <td>{{ rule.table }}</td>
        <td>{{ rule.ipv }}</td>
        <td>{{ rule.chain }}</td>
        <td>{{ rule.rule_value }}</td>
    </tr>
</tbody>
{% endfor %}

<ul class="pagination">

        {% if allrules.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ allrules.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">
            Page {{ allrules.number }} of {{ allrules.paginator.num_pages }}.</a>
        </li>

        {% if allrules.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ allrules.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ allrules.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}

</ul>

</table>

<p></p>

</div>

<div class="footer-copyright text-center py-3">Made by Alexey Beleychev
    <a href="mailto:a.beleichev@abr-region.ru">a.beleichev@abr-region.ru</a>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</body>
</html>